* {
  line-height: normal !important;
}

body {
  background: black;
}

@font-face {
  font-family: "Lcdphone";
  src: url('../fonts/lcdphone.ttf') format("truetype");
}

@font-face {
  font-family: "HappyHell";
  src: url('../fonts/happyhell.ttf') format("truetype");
}

#explanation {
  width: 800px;
  text-align: center;
  float: left;
}

p {
  color: white;
  margin: 0;
  font-family: monospace;
}

.Number {
  color: #F8F8F2;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  background: #272822;
  line-height: normal !important;
  border-radius: 10px;
  border: 2px solid #F8F8F2;
}

.typed {
  color: #E4492B;
}

.Text {
  font-family: Arial;
}

.highscore {
  color: #D81B1B;
}

.score {
  color: #1B62D8;
}

.kills {
  color: #779D11;
}

#border-image {
  width: 800px;
  height: 600px;
  position: absolute;
  background-image: url('../img/border.png');
  z-index: 500;
  pointer-events: none;
}

#warning {
  position: absolute;
  width: 800px;
  height: 600px;
  background: red;
  opacity: 0;
  display: none;
  z-index: 505;
  pointer-events: none;
  border-radius: 17px;
}

#cr-stage {
  float: left;
}

#info-bar {
  display: inline-block;
  color: #6DF6F0;
  font-family: "Lcdphone", monospace;
  width: 398px;
  height: 600px;
  background-image: url('../img/cellphone.png');
  color: #E4492B;
  font-size: 26px;
  position: relative;
  opacity: 0;
}

#score-box {
  background-image: url('../img/score_card.png');
  width: 181px;
  height: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: "Lcdphone", monospace;
  color: #6DF6F0;
  z-index: 501;
  display: none;
}

#score-box .number{
  font-size: 26px;
  padding-top: 21px;
  text-align: right;
  padding-right: 20px;
}

#killStreak {
  position: absolute;
  top: 93px;
  right: 32px;
  font-family: "Lcdphone", monospace;
  font-size: 30px;
  text-align: right;
  color: #76FB6F;
  z-index: 501;
  opacity: 0;
}

#countdown {
  width: 700px;
  position: absolute;
  top: 208px;
  left: 50px;
  font-family: "HappyHell", monospace;
  font-size: 150px;
  text-align: center;
  color: white;
  z-index: 506;
  display: none;
  opacity: 0;
  -webkit-text-stroke: 2px black;
  text-shadow: black 0 0 15px;
}

#countdown .subtext {
  font-size: 50px;
}

#wrapper {
  width: 1198px;
}

#currentNumber {
  position: absolute;
  top: 281px;
  left: 143px;
}

#credits {
  width: 398px;
  text-align: center;
  float:right;
}
