* {
  line-height: normal !important;
}

body {
  background: black;
}

.Number {
  color: #F8F8F2;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  background: #272822;
  line-height: normal !important;
  border-radius: 10px;
  border: 2px solid #F8F8F2;
}

.typed {
  color: #E4492B;
}

#border-image {
  width: 800px;
  height: 600px;
  position: absolute;
  background-image: url('../img/border.png');
  z-index: 500;
  pointer-events: none;
}

#warning {
  position:absolute;
  width:800px;
  height: 600px;
  background: red;
  opacity: 0;
  z-index: 505;
  pointer-events: none;
}

#cr-stage {
  float: left;
}

#info-bar {
  display: inline-block;
  color: #6DF6F0;
  font-family: monospace;
  width: 398px;
  height: 600px;
  background-image: url('../img/cellphone.png');
}

#score-box {
  background-image: url('../img/score_card.png');
  width: 181px;
  height: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: "Lcdphone", monospace;
  color: #6DF6F0;
  z-index: 501;
  display: none;
}

#score-box .number{
  font-size: 26px;
  padding-top: 18px;
  text-align: right;
  padding-right: 20px;
}

#wrapper {
  width: 1198px;
}

#currentNumber {
  top: 279px;
  position: relative;
  left: 147px;
}

#info-bar {
  color: #E4492B;
  font-family: monospace;
  font-size: 27px;
}
